# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


#IMPORTANT This is only needed when you are running this outside locker, locally on your machine

DATABASE_URL="postgresql://admin:strongpass@localhost:5432/example-db?schema=public"